{{#partial "content"}}
    <h1>Welcome to eticket</h1>
    {{#each events}}

        <h1> {{title}}</h1>
        <p>{{location}}</p>
        <p>{{eventTime}}</p>
        <p>{{host}}</p>
        <a href="/events/{{id}}">Buy Ticket</a>
   {{/each }}
{{/partial}}
{{> layout.hbs}}